html { 
    background: url("http://res.freestockphotos.biz/pictures/9/9090-an-abstract-blue-background-pv.jpg") no-repeat center center fixed; 
    background-size: cover;
}
body {
    color: white;
    background-color: transparent;
}
.jumbotron{
  background-color:transparent;
  color:white;
}
.input-group{
  width:75%;
  margin: 0 auto;
}
h1#app-name{
  Font-size: 70px;
}
.page-header{
  background-color:transparent;
}
h2#name,h2#userLevel,h2#rankLeague,h2#rankName,h2#LP{
  color:black;
}
h2#champRotation{
    font-size: 40px;
    line-height: 52px;
    color: #fff;
}
img[src='']{
    display: none;
}
.banner {
    position: relative;
    width: 100%;
    overflow: auto;
    top: 50px;
    background-color: transparent;
    text-align: center;
}
#slider {
    width: 300%;
    padding:0; 
    margin:0;
}
.banner ul {
    list-style: none;
    width: 300%;
    padding:0; 
    margin:0;
}
.banner ul li {
    display: block;
    float: left;
    min-height: 500px;
}
.banner .inner {
    padding: 360px 0 110px;
    float: left;
    vertical-align:-100px;
}
.banner .btn {
    display: inline-block;
    margin: 25px 0 0;
    padding: 10px 20px 8px;
    clear: both;
    border-radius: 5px;
}
/*position of dots, css for banner inspired by Denzelq from http://stackoverflow.com/questions/17382355/unslider-not-working-on-website */
.banner .dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    width: 100%;
}
/*Dots shape and color in unslider*/
.banner .dots li {
    display: inline-block;
    width: 10px;
    height: 10px;
    line-height: 10px;
    margin: 0 4px;
    text-indent: -999em;
    border: 2px solid #fff;
    border-radius: 6px;
    cursor: pointer;
    opacity: .4;
}
/*Make the dot white seeing which dot is white*/
.banner .dots li.active {
    background:white;
    opacity: 1;
}  
