html { 
    background: url("http://res.freestockphotos.biz/pictures/9/9090-an-abstract-blue-background-pv.jpg") no-repeat center center fixed; 
    background-size: cover;
}
body {
    color: white;
    background-color: transparent;
}
.jumbotron{
  background-color:transparent;
  color:white;
}
.input-group{
  width:75%;
  margin: 0 auto;
}
h1#app-name{
  Font-size: 70px;
}
.page-header{
  background-color:transparent;
}
.profileIcon{
  overflow: hidden;
  float:left;
}
.profile{
  float:left;
}
h2#name,h2#userLevel,h2#rankLeague,h2#rankName,h2#LP{
  color:black;
}
#freeChamp{
  width: 100%;
  border: 3px;
  padding: 10px;
  text-align: center;
}
#userProfile,#userDivision{
  margin: auto;

  border: 3px;
  padding: 10px;
}
#champRotation{
  text-align: center;
}
img[src='']{
    display: none;
}