html { 
    background: url("http://res.freestockphotos.biz/pictures/9/9090-an-abstract-blue-background-pv.jpg") no-repeat center center fixed; 
    background-size: cover;
}
body {
    color: white;
    background-color: transparent;
}

.jumbotron{
  background-color:transparent;
  color:white;
}
.input-group{
  width:75%;
  margin: 0 auto;
}

#sign-in {
    position: absolute;
    top: 0px;
    right: 0px;
}
#logo {
  width: 50%;
  margin: 0 auto;
}
h1#app-name{
  Font-size: 70px;
}
.page-header{
  background-color:transparent;
}
.user-result{
  position: center;
}
.profileIcon{
  overflow: hidden;
  float:left;
}
#userInfoContainer{
  background-color: white;
}

h2#name{
  color:black;
}
h2#userLevel{
  color:black;
}
h2#rankLeague{
  color:black;
}
h2#rankName{
  color:black;
}

